body {
    background-color: lightblue;

}

h1 {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h4{
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 12 px;
}

img {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

div{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}