body {
    background-color: #ffffb3;

}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 40px;
    font-family: arial;
    text-shadow: 2px 2px 5px green;
    color: DarkGreen;
    background-color: purple;
    padding: 10px;
}

h3{
    text-align: left;
    margin-bottom: 1 px;
    text-shadow: 2px 2px 5px green;
    color: DarkGreen;


}

h4{
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 12 px;
    background-color: lightgreen;
}

img {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

div{
    background-color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 20px solid pink;
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    height: 100px;
    font-family: arial;
    font-size: 14px;
}

th{
    background-color: lightgrey;
}

tr {
    background-color: white;
}

table, th, td {
    border: 1px solid black;
}

tr, th, td {
    text-align: left;
    padding: 8px;
}
